services:
  neo4j:
    image: neo4j:latest
    volumes:
        - ./data/neo4j/logs:/logs
        - ./data/neo4j/config:/config
        - ./data/neo4j/data:/data
        - ./data/neo4j/plugins:/plugins
    environment:
        - NEO4J_AUTH=$NEO4J_USERNAME/$NEO4J_PASSWORD
    ports:
      - "7474:7474"
      - "7687:7687"
    restart: always